.source-col {
	word-wrap: break-word;
	max-height: 5em;
	overflow: scroll;
}

.profile-page {
	@extend .row;
	.card-footer .row {
		margin-bottom: .2em
	}
}

.profile-card {
	margin-bottom: 2em;
	.card-footer {
		padding-right: 1em;
		padding-left: 1em;
	}
	#chart {
		width: 110%;
		text-align: center;
		overflow: scroll;
		margin: -1em -1em 0;
	}
}
	
